
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutPage3.cshtml";
}

@model VN_MilkTea.Models.Product



<style>
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        background-color: #f4f4f4;
    }

    .product-details {
        max-width: 300px;
        margin: 20px auto;
        background-color: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .product-image {
        max-width: 100%;
        height: auto;
        border-radius: 8px;
        margin-bottom: 20px;
    }

    h1 {
        color: #333;
    }

    p {
        color: cadetblue;
    }
</style>

@section Details{

    <title>Product Details</title>

    <div class="product-details">
        <img class="product-image" src=" data:image;base64,@Model.Image" width="300px" alt="@Model.ProductName">
        <p><strong>Tên Sản Phẩm:</strong>@Model.ProductName</p>
        <p><strong>Thương Hiệu:</strong>@Model.Brand.BrandName </p>
        <p><strong>Loại:</strong>@Model.Category.CategoryName </p>
        <p><strong>Giá:</strong>@Model.Price</p>

    </div>
</div>}

